<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Registered Instructors</h1>
    {{#each instructor}}
      <div>
        <h3>{{firstname}} {{lastname}}</h3>
        <!-- <ul>
          {{#each AlterEgos}}
            <li>{{ superhero }}</li>
          {{/each}}
        </ul> -->
      </div>
    {{/each}}
  </div>

</div>
