<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Registered Students</h1>
    {{#each student}}
      <div>
        <h3>{{firstname}} {{lastname}}</h3>
      </div>
    {{/each}}
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <a href="/instructors"><h3>Instructors List</h3></a>
    <a href="/"><h3>Registration</h3></a>
  </div>
</div>
